html {
  font-family: Helvetica;
  text-align: center;
}


nav {
background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul {
  font-size: 18px;
  line-height: 1.75;
  color: white;
  list-style: none;
}

#about h2 {
  font-size: 32px;
  font-weight: bold;
}


#about h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#designed-in-new-york {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
}

#footer{
  font-size: 11px;
  color: white;
  text-align: left;
  background-color: dimgray;
}
